
<div  class="map">
  <div  class="map__item">
      <div  class="map__content">
          <h3  class="map__title">Our Location</h3>
          <h2  class="map__location">Chicago</h2>
          <div  class="map__address">
              <p ><a  href="https://www.google.com/maps/place/180+N+Upper+Wacker+Dr,+Chicago,+IL+60606/data=!4m2!3m1!1s0x880e2cb81f062f55:0x8ffc6750efaa7adb?sa=X&amp;ved=2ahUKEwi_kLLH38zdAhUF9IMKHTPiD8sQ8gEwAHoECAMQAQ" target="_blank">180 N Upper Wacker Dr<br >Chicago, IL 60606</a></p>
          </div>
          <ul  class="map__contacts">
              <li  class="map__contact"><a  href="tel:3122655420">312.265.5420</a></li>
              <li  class="map__contact"><a  href="mailto:hello@gotitdigital.com">hello@gotitdigital.com</a></li>
          </ul>
      </div>
  </div>
  <div  class="map__item">
    <!---->
    <div id="map" class="sebm-google-map-container">

    </div>
    <div class="marker">
      <div class="loader-logo">

        <div class="left-arrow">

          <div class="top"><div class="content"></div></div>

          <div class="bottom"><div class="content"></div></div>

        </div>

        <div class="right-arrow">

          <div class="top"><div class="content"></div></div>

          <div class="bottom"><div class="content"></div></div>

        </div>
      </div>
      <img src="/static/img/content/marker.svg" alt="marker" title="marker">
    </div>

  </div>

</div>