

<footer  class="site__footer">
	{{> map/map}}

	<div  class="footer__wrap">
		<div  class="footer__item footer__item_menus">
			<ul  class="footer__menu">
				<li  class="menu__item">
					<a  href="/work">CASE STUDIES</a>
				</li>
				<li  class="menu__item">
					<a  href="/about">WHAT WE DO</a>
				</li>
				<li  class="menu__item">
					<a  href="/contact">CONTACT US</a>
				</li>
			</ul>
			<ul  class="footer__menu">
				<li  class="menu__item">
					<a  href="/privacy-policy">PRIVACY POLICY</a>
				</li>
				<li  class="menu__item">
					<a  href="/job">CAREERS</a>
				</li>
				<li  class="menu__item">
					<a  href="tel:3122655420">312.265.5420</a>
				</li>
			</ul>
			<!---->
		</div>
		<div  class="footer__item">
			<div  class="footer__copyright">
				<div  class="footer__logo">
					<img  alt="copyright" src="/static/img/general/copyright.png" title="copyright">
					<div  class="loader-logo">
						<div  class="left-arrow">
							<div  class="top">
								<div  class="content"></div>
							</div>
							<div  class="bottom">
								<div  class="content"></div>
							</div>
						</div>
						<div  class="right-arrow">
							<div  class="top">
								<div  class="content"></div>
							</div>
							<div  class="bottom">
								<div  class="content"></div>
							</div>
						</div>
					</div>
				</div>
				©2019 Got IT Digital All Rights Reserved
			</div>
		</div>
		<a  class="arrow arrow_white backwards">
			<span >
				<i ></i>
			</span>
			<span ><i ></i></span>
		</a>
	</div>
</footer>

<script  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBsp0mPk9YWoktVHmh7ghwETxNxJT6_BZ4" ></script>

<!-- <script src="/static/js/separate-js/tilt.jquery.js"></script> -->


<!-- <script src="/static/js/separate-js/test-server.js"></script> -->

<!-- <script type="text/javascript" src="/static/js/separate-js/runtime.bfdf0bc8eb1c4351a36b.js"></script> -->
<!-- <script type="text/javascript" src="/static/js/separate-js/polyfills.4a46a2cc6877b1c52dc1.js"></script> -->
<!-- <script type="text/javascript" src="/static/js/separate-js/scripts.91c11bd12f9f223fdabb.js"></script>  -->
<!-- <script type="text/javascript" src="/static/js/separate-js/main.bf46a084c00b47f782e5.js"></script> -->
<!--
<script type="text/javascript" async="" defer="" id="agmGoogleMapsApiScript" src="https://maps.googleapis.com/maps/api/js?v=3&amp;callback=agmLazyMapsAPILoader&amp;key=AIzaSyAS9m9VlnMdw1LlCPSYC6huFlLf1_DqQ0A"></script> -->



<!--  !!!!!!!!!!!!!!!!!!!!!!!!!!  -->
<!-- right way  -->

<!--  !!!!!!!!!!!!!!!!!!!!!!!!!!  -->


<script src="/static/js/separate-js/jQuery.min.js"></script>

<script src="/static/js/separate-js/vanilla-tilt.min.js"></script>
<script src="/static/js/separate-js/three.r92.min.js"></script>
<script src="/static/js/separate-js/vanta.dots.min.js"></script>
<!-- <script src="/static/js/separate-js/swiper.js"></script> -->
<script src="/static/js/separate-js/slick.min.js"></script>



<script src="/static/js/separate-js/common.js"></script>
