

<div  class="loader hidden">
	<div  class="loader-logo">
		<svg  class="clip-svg" ersion="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
			<defs >
				<clipPath  class="" clipPathUnits="objectBoundingBox" id="left-top" transform="scale(0.01)">
					<polygon  points="54.5,23.8 6.3,44.1 6.3,55.2 49.7,37.7 "></polygon>
				</clipPath>
			</defs>
		</svg>
		<svg class="clip-svg" ersion="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
			<defs >
				<clipPath  class="" clipPathUnits="objectBoundingBox" id="left-bottom" transform="scale(0.01)">
					<polygon  points="6.3,44.2 6.3,55.3 38.8,69 42.3,58.8 "></polygon>
				</clipPath>
			</defs>
		</svg>
		<svg  class="clip-svg" ersion="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
			<defs >
				<clipPath  class="" clipPathUnits="objectBoundingBox" id="right-top" transform="scale(0.01)">
					<polygon  points="97.7,55.2 97.7,44.1 64.7,30.1 61.2,40.4 "></polygon>
				</clipPath>
			</defs>
		</svg>
		<svg  class="clip-svg" ersion="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
			<defs >
				<clipPath  class="" clipPathUnits="objectBoundingBox" id="right-bottom" transform="scale(0.01)">
					<polygon  points="48.8,75.9 97.7,55.2 97.7,44.1 53.7,62 "></polygon>
				</clipPath>
			</defs>
		</svg>
		<div  class="left-arrow">
			<div  class="top">
				<div  class="content"></div>
			</div>
			<div  class="bottom">
				<div  class="content"></div>
			</div>
		</div>
		<div  class="right-arrow">
			<div  class="top">
				<div  class="content"></div>
			</div>
			<div  class="bottom">
				<div  class="content"></div>
			</div>
		</div>
	</div>
</div>