


*
	box-sizing: border-box
	outline: none
	&:after,
	&:before
		box-sizing: inherit

html
	+selection
		background: rgba(0, 0, 0, .2)
		color: #fff

html, body
	height: 100%
	background-color: #FFF
body
	color: #000
	font-size: 18px
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale
	-webkit-text-size-adjust: none
	-ms-text-size-adjust: none
	text-size-adjust: none
	+hr

a
	text-decoration: none
	outline: none

button
	background-color: $n
	border: none
	outline: none
	padding: 0
	cursor: pointer

h1, h2, h3, h4, h5, h6
	margin: 0 0 .8em
	font-weight: normal
	line-height: 1.1
h1
	font-size: 2em
h2
	font-size: 1.8em
h3
	font-size: 1.6em
h4
	font-size: 1.5em
h5
	font-size: 1.4em
h6
	font-size: 1.3em

b, strong
	font-weight: normal
p
	margin: 0

.layout
	width: 100%
	max-width: 1240px
	margin: 0 auto
	padding: 0 10px

