<section  class="hero hero_2">
	<div  class="hero__wrap">
		<div  class="hero__content">
			<!-- -->
			<h2 >
				Create things with purpose
			</h2>
			<!-- -->
			<p >
				Join a team that drives success from the development phase to strategy & execution. Energetic. Accurate. Driven. That’s who we are as individuals and as a business.
			</p>
		</div>
		<a  class="arrow">
			<span >
				<i >
				</i>
			</span>
			<span >
				<i >
				</i>
			</span>
		</a>
	</div>
</section>
<section  class="work work_2">
	<!-- -->
	<h2  class="work__title">
		Current Job Openings
	</h2>
	<!-- -->
	<div  class="work__items">
		<!-- -->
		<div  class="work__item">
			<div  class="item__container">
				<h3  class="item__title">
					Website Project Manager
				</h3>
				<p  class="item__subtitle">
					Chicago — Full Time
				</p>
				<p  class="item__content">
					As a Website PM, you have the ability to communicate technical subject matter to non-technical audience
				</p>
				<a  class="btn btn_2" href="/contact" routerlink="/contact">
					APPLY
				</a>
			</div>
		</div>
		<div  class="work__item">
			<div  class="item__container">
				<h3  class="item__title">
					SEO Specialist
				</h3>
				<p  class="item__subtitle">
					Chicago — Part Time
				</p>
				<p  class="item__content">
					As an SEO Specialist, you will have in-depth knowledge of Website and Local SEO to help clients reach their online visibility goals.
				</p>
				<a  class="btn btn_2" href="/contact" routerlink="/contact">
					APPLY
				</a>
			</div>
		</div>
	</div>
</section>
