.loader-logo {
  width:75px;
  height: 75px;
  position: relative;

  .content {
    width: 100%;
    height:100%;
    background: black;
  }

  .top, .bottom {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
  }

  .left-arrow {

    .top {
      clip-path: url("#left-top");

      .content {
        animation: in 3s ease-in-out forwards infinite;
      }
    }

    .bottom {
      clip-path: url("#left-bottom");

      .content{
        margin-left: -100%;
        animation: out 3s 1.2s ease-in-out forwards infinite;
      }
    }
  }

  .right-arrow {

    .top {
      clip-path: url("#right-top");

      .content{
        margin-left: 100%;
        animation: in 3s 1.2s ease-in-out forwards infinite;
      }
    }

    .bottom {
      clip-path: url("#right-bottom");

      .content {
        animation: out 3s ease-in-out forwards infinite;
      }
    }
  }
}