<section class="contact contact_2">
	<div class="contact__row">
		<div class="contact__message ng-trigger ng-trigger-slideInOut" style="opacity: 0; visibility: hidden;">
			<h2 class="contact__title">
				Thank you
			</h2>
			<p class="contact__description">
				For contacting Got IT Digital!
				<br class="ng-tns-c5-0">
					We will be in touch soon.
				</br>
			</p>
		</div>
		<!-- -->
		<h2 class="contact__title ng-tns-c5-0 ng-star-inserted">
			Hello!
		</h2>
		<!-- -->
		<p class="contact__description ng-tns-c5-0 ng-star-inserted">
			How can we help?
		</p>
		<div class="form">
			<form class="ng-tns-c5-0 ng-untouched ng-pristine ng-invalid" id="form" novalidate="">
				<div class="form__row form__row_half">
					<div class="form__item">
						<input class="ng-tns-c5-0 ng-untouched ng-pristine ng-valid" formcontrolname="name" placeholder="Name" type="text"/>
					</div>
					<div class="form__item">
						<input class="ng-tns-c5-0 ng-untouched ng-pristine ng-valid" formcontrolname="company" placeholder="Company" type="text"/>
					</div>
				</div>
				<div class="form__row form__row_half">
					<div class="form__item">
						<input class="ng-tns-c5-0 ng-untouched ng-pristine ng-invalid" formcontrolname="email" placeholder="Email" type="email">
							<!-- -->
						</input>
					</div>
					<div class="form__item">
						<div class="ng-tns-c5-0 ng-untouched ng-pristine ng-valid" formcontrolname="phone">
							<input class="ng-untouched ng-pristine ng-valid" placeholder="Phone" type="text"/>
						</div>
						<!-- -->
					</div>
				</div>
				<div class="form__row">
					<div class="form__item">
						<textarea class="ng-tns-c5-0 ng-untouched ng-pristine ng-valid" formcontrolname="message" placeholder="ENTER YOUR MESSAGE" >
						</textarea>
					</div>
				</div>
				<button class="btn btn_3" disabled="" type="submit">
					Send
				</button>
			</form>
		</div>
	</div>
</section>